* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
body {
    background: rgb(116,133,232);
    background: linear-gradient(180deg, rgba(116,133,232,1) 0%, rgba(59,67,106,1) 100%);    
    color: white;
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}
.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
    box-shadow: 0 0 20px white;
    border-radius: 1px;
}

.links-list li a {
    background: white;
    padding: 15px 20px;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(116,133,232);
    font-weight: bold;
}

.links-list li a span {
    color: rgb(134, 141, 141);
    display: block;
    margin-top: 10px;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}